
  /*/background-color:#fff9f2;/*/



h1, h2, h3, h4, h5 {
    text-align: center;
    font-size: large;
}


table {
    text-align: center;
    font-size: xx-large;
    border: 1px solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.topnav {
    background-color:lavender;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
}
.main {
    margin-top: 75px;
	font-style: normal;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
  }


p {
    text-align: center;
}

p2 {
    font-size: large;
    font-weight: normal;
}

p3 {
    padding: 20px;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    display:flex;
    flex-direction: column;
  }

  input[type=submit] {
    background-color:rgba(192, 192, 255, 0.801);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:medium;
  }

  input[type=submit]:hover {
    background-color:rgba(140, 140, 228, 0.801);
  }


  #ima {
    float:right;
    display:flex;
    margin-left: 36px;
    order: 2;
}

img {
    margin: auto;
    width: 100%;
    max-width: 300px;
    max-height:100%;
}

  div.centered {
    text-align: center;
    }

    html {
        box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 4px 8px;
      }
      
      .card {
        margin: 8px;
      }
  
       .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
		padding: 4px 16px;
      }
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.form {
  padding: 0 125px;	
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  height: 7rem;            /* Footer height */
}

@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


.button {
    background-color:rgb(211, 255, 211);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    transition-duration: 0.4s;
}
 
  .button:hover {
    background-color:mediumseagreen;
    color: white;
  }


.aboutme {
  display:flex;
  margin: 0 120px;

}
